<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="connStrInsert" connectionString="server=10.15.8.87,1433; uid=dashboard;pwd=1qaz@WSX;database=JKInsight_WebViewDataProvider;" />
  </connectionStrings>
  <appSettings>
    <add key="dataAddress" value="http://jinke-gateway.tq-service.com/bidata/api/" />
    <add key="fileAddress" value="D:\ImportExcel" />
    <add key="filedAddress" value="D:\ImportedExcel" />
    <add key="connstrView" value="server=10.15.8.87,1433; uid=dashboard;pwd=1qaz@WSX;database=JKInsight_WebViewDataProvider;" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="MainStartNew.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".hd" mimeType="application/x-mpegURL" />
        </staticContent>
    </system.webServer>
</configuration>