* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

::-webkit-scrollbar {
    width: 2px;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: arial, "Microsoft Yahei", 微软雅黑;
    box-sizing: border-box;
    margin: 0;

    position: relative;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#app {
    padding: 5%;
    justify-content: flex-start;
}

.show-title > div:nth-of-type(1) {
    min-height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.show-title > div:nth-of-type(1):after {
    display: block;
    content: '';
    width: 30%;
    height: 3px;
    background-color: white;
    margin: 10px auto 0 auto;
}

.show-title > div:nth-of-type(2) {
    margin-top: 10px;
    height: auto;
    line-height: 1.5;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-indent: 2em;
}

.page-up-down {
    width: 80%;
    height: 10%;
    margin: 0 10%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;


}

.page-up-down div {
    display: flex;
    width: 30%;
    height:100%;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-radius: 10px;
    background: #909090;
    align-items: center;
    text-align: center;
    justify-content:center;


}

.page-up-down div:nth-of-type(2) {
    background: #3783F2;
}

.menu-item {
    width: 20%;
    height: 15%;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    background-color: #24292f;
    border-radius: 8px;
    margin: 0 6.6%;
}

.choose {
    border-left:  1rem  solid #3783F2;
    background-color: rgba(255, 255, 255, 0.34);
    font-size: 20px;
    transition: all;
    color: rgba(255, 255, 255, 0.8);
    transition-duration: 0.5s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.conspicuous {
    color: #ff5400;
}